node-red.json
[{"id":"a451194d.a1d888","type":"influxdb","z":"d58c12a3.f7251","hostname":"influx","port":"8086","database":"1week","name":""},{"id":"77aa9139.c500b","type":"mqtt-broker","z":"","broker":"mqtt","port":"1883","clientid":"","usetls":false,"verifyservercert":true,"compatmode":true,"keepalive":"15","cleansession":true,"willTopic":"","willQos":"0","willRetain":null,"willPayload":"","birthTopic":"","birthQos":"0","birthRetain":null,"birthPayload":""},{"id":"47abe6e6.4183a8","type":"mqtt in","z":"d58c12a3.f7251","name":"","topic":"test/uppsalaWorkshop/#","broker":"77aa9139.c500b","x":158.5,"y":140,"wires":[["9c737879.b69af8"]]},{"id":"9c737879.b69af8","type":"json","z":"d58c12a3.f7251","name":"","x":390.5,"y":140,"wires":[["9aba3f2b.b579f"]]},{"id":"918bd4ac.2f3bb8","type":"switch","z":"d58c12a3.f7251","name":"","property":"topic","propertyType":"msg","rules":[{"t":"cont","v":"gas","vt":"str"},{"t":"cont","v":"distance","vt":"str"},{"t":"cont","v":"sound","vt":"str"},{"t":"cont","v":"moisture","vt":"str"}],"checkall":"true","outputs":4,"x":122.5,"y":390,"wires":[["55ae41d.5a121c"],["e0c82366.157c3"],["26f7aabe.6ef426"],["e3dc0d57.85701"]]},{"id":"55ae41d.5a121c","type":"function","z":"d58c12a3.f7251","name":"Parse Gas","func":"\nreturn msg;","outputs":1,"noerr":0,"x":310.5,"y":346,"wires":[["33ad39e4.97ead6"]]},{"id":"e0c82366.157c3","type":"function","z":"d58c12a3.f7251","name":"Parse Distance","func":"\nreturn msg;","outputs":1,"noerr":0,"x":321.5,"y":384,"wires":[["33ad39e4.97ead6"]]},{"id":"9aba3f2b.b579f","type":"function","z":"d58c12a3.f7251","name":"Set Measurement to topic","func":"msg.measurement = msg.topic;\nreturn msg;","outputs":1,"noerr":0,"x":604.5,"y":139,"wires":[["918bd4ac.2f3bb8"]]},{"id":"33ad39e4.97ead6","type":"influxdb out","z":"d58c12a3.f7251","influxdb":"a451194d.a1d888","name":"","measurement":"","x":619.5,"y":381,"wires":[]},{"id":"26f7aabe.6ef426","type":"function","z":"d58c12a3.f7251","name":"Parse Sound","func":"var output = [];\n\nfor(var i = 0; i < 32; i++){\n    output.push([{\n        time: msg.payload.time - msg.payload.measureInterval * i,\n        value: msg.payload.bitarray >> i & 0x01\n    }])\n}\n\nmsg.payload = output;\nreturn msg;","outputs":1,"noerr":0,"x":321.5,"y":424,"wires":[["33ad39e4.97ead6"]]},{"id":"e3dc0d57.85701","type":"function","z":"d58c12a3.f7251","name":"Parse Moisture","func":"\nreturn msg;","outputs":1,"noerr":0,"x":320,"y":462,"wires":[["33ad39e4.97ead6"]]}]
